<!--------------------
            START - Sidebar
            -------------------
            <div class="content-panel">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div><!--------------------
START - Support Agents
--------------------
<div class="element-wrapper">
  <h6 class="element-header">
    Support Agents
  </h6>
  <div class="element-box-tp">
    <div class="profile-tile">
      <a class="profile-tile-box" href="users_profile_small.html">
        <div class="pt-avatar-w">
          <img alt="" src="/static/admin/img/avatar1.jpg">
        </div>
        <div class="pt-user-name">
          John Mayers
        </div>
      </a>
      <div class="profile-tile-meta">
        <ul>
          <li>
            Last Login:<strong>Online Now</strong>
          </li>
          <li>
            Tickets:<strong><a href="apps_support_index.html">12</a></strong>
          </li>
          <li>
            Response Time:<strong>2 hours</strong>
          </li>
        </ul>
        <div class="pt-btn">
          <a class="btn btn-success btn-sm" href="apps_full_chat.html">Send Message</a>
        </div>
      </div>
    </div>
    <div class="profile-tile">
      <a class="profile-tile-box" href="users_profile_small.html">
        <div class="pt-avatar-w">
          <img alt="" src="/static/admin/img/avatar3.jpg">
        </div>
        <div class="pt-user-name">
          Ben Gossman
        </div>
      </a>
      <div class="profile-tile-meta">
        <ul>
          <li>
            Last Login:<strong>Offline</strong>
          </li>
          <li>
            Tickets:<strong><a href="apps_support_index.html">9</a></strong>
          </li>
          <li>
            Response Time:<strong>3 hours</strong>
          </li>
        </ul>
        <div class="pt-btn">
          <a class="btn btn-secondary btn-sm" href="apps_full_chat.html">Send Message</a>
        </div>
      </div>
    </div>
    <div class="profile-tile">
      <a class="profile-tile-box" href="users_profile_small.html">
        <div class="pt-avatar-w">
          <img alt="" src="/static/admin/img/avatar2.jpg">
        </div>
        <div class="pt-user-name">
          Ken Sorrons
        </div>
      </a>
      <div class="profile-tile-meta">
        <ul>
          <li>
            Last Login:<strong>Offline</strong>
          </li>
          <li>
            Tickets:<strong><a href="apps_support_index.html">17</a></strong>
          </li>
          <li>
            Response Time:<strong>1 hour</strong>
          </li>
        </ul>
        <div class="pt-btn">
          <a class="btn btn-danger btn-sm" href="apps_full_chat.html">Send Message</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------
END - Support Agents
-------------------
<div class="element-wrapper">
  <h6 class="element-header">
    Side Tables
  </h6>
  <div class="element-box">
    <h5 class="form-header">
      Table in white box
    </h5>
    <div class="form-desc">You can put a table tag inside an <code>.element-box</code> class wrapper and add <code>.table</code> class to it to get something like this:
    </div>
    <div class="controls-above-table">
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-sm btn-primary" href="#">Download CSV</a><a class="btn btn-sm btn-danger" href="#">Delete</a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-lightborder">
        <thead>
          <tr>
            <th>
              Customer
            </th>
            <th class="text-center">
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              John Mayers
            </td>
            <td class="text-center">
              <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
            </td>
          </tr>
          <tr>
            <td>
              Kelly Brans
            </td>
            <td class="text-center">
              <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip"></div>
            </td>
          </tr>
          <tr>
            <td>
              Tim Howard
            </td>
            <td class="text-center">
              <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
            </td>
          </tr>
          <tr>
            <td>
              Joe Trulli
            </td>
            <td class="text-center">
              <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip"></div>
            </td>
          </tr>
          <tr>
            <td>
              Fred Kolton
            </td>
            <td class="text-center">
              <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
            </div>
            <!--------------------
            END - Sidebar
            -------------------->
         
          <!--</div>-->